<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCebcUk5wBJ7rhpDuikC1enNKV8RndCGL8</string>
	<key>GCM_SENDER_ID</key>
	<string>570179855445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aplikasiPengaduanSekolahV1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sipensa</string>
	<key>STORAGE_BUCKET</key>
	<string>sipensa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570179855445:ios:3548a703a8e93ebed0a0dc</string>
</dict>
</plist>